.station-details {
    color: $clr6;
    background-color: $clr3;
    min-height: 100vh;
    
    

    .station-header {
        // background: linear-gradient(to bottom, $clr1, $clr10);
        box-shadow: 0 80px 100px 50px rgba(36, 211, 51, 0.2) ;
        height: fit-content;

        .station-header-content {
            grid-column: 2;
            display: flex;
            height: fit-content;
            align-items: flex-end;
            padding-block-start: clamp(24px, 6.2vh, 80px);
            padding-block-end: 22px;
            padding-inline-start: clamp(24px, 2.4vh, 80px);
            gap: 24px;

            .station-img {
                width: 232px;
                height: 232px;
                flex-shrink: 0;
                object-fit: cover;
                border-radius: 8px;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
            }

            .station-info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                line-height: 1;

                input {
                    font-size: rem(96px);
                    margin: 0;
                    border-bottom: none;
                    margin: 2px 0px 10px 0;
                }

                p {
                    margin: 3px 0;
                    font-size: rem(14px);
                }
            }
        }
    }



    .controls {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 20px;
        margin-block-end: 2px;

        svg {
            justify-content: center;
            align-items: center;
            width: 65px;
            height: 65px;
            color: $clr1;

            &:hover {
                transform: scale(1.03);
                cursor: pointer;
                color: $clr7;
            }
        }
    }

    .list-header-container {
        padding: 0 24px;

        .song-list-header {
            display: flex;
            align-items: center;
            color: $clr5;
            padding: 0 22px;
            height: 36px;
            border-bottom: 1px solid $gray4;
            font-size: rem(14px);

            .col {
                margin: 0;
                margin-bottom: 2px;
            }

            .song-list-header .col {
                display: flex;
                justify-content: space-between;

                white-space: nowrap;
            }

            .col.index-header {
                width: 16px;
                font-size: rem(18px);
                margin-inline-end: 12px;
            }

            .col.title-header {
                flex: 3;
                min-width: 120px;
                margin-inline-end: 38px;
            }

            .col.album-header {
                flex: 2;
                min-width: 120px;
                padding-inline-end: 32px;
            }

            .col.date-added-header {
                flex: 2;
                min-width: 120px;
                padding-inline-end: 10px;
            }

            svg {
                justify-content: center;
                align-items: center;
                width: 16px;
                fill: $clr5 ;
                margin-inline-end: 11px;
            }
        }
    }

    .song-list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        padding-inline-start: clamp(24px, 2.4vh, 80px);
        padding-inline-end: 24px;
        gap: 2px;

        .song-row {

            display: flex;
            align-items: center;
            height: 54px;
            padding-inline: 16px;
            border-radius: 4px;
            border: 1px solid transparent;
            transition: background-color 0.2s ease;
            color: $clr5;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: #2a2a2a;
            }

            >* {
                margin-bottom: 0;
                font-size: rem(14px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .song-index {
                min-width: 16px;
                color: $clr5;
                padding-inline-start: 2px;
                margin-inline-end: 1rem;
            }

            .info-wrapper {
                display: flex;
                flex: 3;
                min-width: 120px;
                align-items: center;
                margin-inline-end: 33px;

                .song-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                    margin-inline-end: 12px;
                }



                .song-info {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    min-width: 120px;

                    >* {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .song-title {
                        font-size: rem(16px);
                        color: $clr6;
                        margin: 0;
                    }

                    .song-artist {
                        color: $clr5;
                        margin: 0;
                        justify-self: center;
                    }
                }
            }

            .song-album {
                flex: 2;
                min-width: 120px;
                padding-inline-start: 75px;
            }

            .song-date-added {
                flex: 2;
                min-width: 120px;
                padding-left: 75px;
            }

            .song-formatted-duration {
                width: 32px;
                margin-inline-end: 11px;
                justify-content: flex-end;
            }



            .hovered-like-btn {
                z-index: -5;
                pointer-events: none;
                transition: opacity 0.2s ease;
                align-self: center;
                padding-inline-end: 21px;

                button {
                    display: flex;
                    background-color: transparent;

                    svg {
                        justify-content: center;
                        align-items: center;
                        width: 1rem;
                        height: 1rem;
                        fill: $clr5;
                        color: $clr5;

                        &:hover {
                            scale: 1.03;
                            cursor: pointer;
                            fill: gray1;
                        }
                    }
                }
            }

            &:hover .hovered-like-btn {
                z-index: 100;
                pointer-events: auto;
            }
        }
    }

    .station-name-input {
        color: $clr6;
        font-size: 6rem;
        font-weight: bold;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        margin-bottom: 0.5em;
        cursor: pointer;
    }

    .station-name-input:focus {
        border-bottom: 2px solid $clr1;
    }


}