.app-footer {
    display: flex;
    flex-direction: column;
    color: #b3b3b3;
    font-size: 0.875rem;
    margin-top: 3rem;
    padding: rem(10px) 40px;

    .footer-top {
        width: 100%;
        margin-bottom: 2rem;
        border-top: 1px solid #282828;
        padding-top: 3rem;

        .footer-content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 3rem;
        }

        .footer-links {
            display: flex;
            gap: 4rem;
            flex: 1;

            .footer-column {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                min-width: 160px;

                h4 {
                    color: $clr6;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    font-weight: 700;
                }

                a {
                    font-size: 1rem;
                    font-weight: 450;
                    color: $gray9;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        color: $clr6;
                    }
                }
            }
        }

        .footer-social {
            display: flex;
            gap: 1rem;
            align-self: flex-start;

            .social-icon {
                background-color: #292929;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #3e3e3e;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #fff;
                }
            }
        }

    }

    .footer-bottom {
        border-top: 1px solid #282828;
        padding-top: 1.5rem;
        padding-bottom: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 0.75rem;
        width: 100%;

        .legal-links {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            a {
                color: $gray9;
                text-decoration: none;
                font-size: 0.875rem;
                font-weight: 450;
                cursor: pointer;

                &:hover {
                    color: $clr6;
                }
            }
        }

        .copyright {
            color: $gray9;
            font-size: 0.875rem;
            font-weight: 450;
        }
    }

    @include for-mobile-layout {
        display: none;
    }
}