.app-header {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: rem(48px);
    background-color: $clr8;
    z-index: 100;

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;
        font-size: 0.8em;

        .logo {
            display: flex;
            align-items: center;
            padding-left: 1.25rem;
            font-size: 1.4em;
            font-weight: bold;
            margin-inline-end: 2em;
            text-decoration: none;
            color: inherit;
            background-color: transparent;
        }

        .logo-icon {
            width: 2rem;
            height: 2rem;
            color: $clr6;
        }

        .active {
            color: $clr1;
        }

        .middle-header {
            display: flex;
            gap: rem(8px);
            justify-content: center;
            align-items: center;
            margin-left: rem(81px);
            flex: 1;

            .search-wrapper {
                position: relative;
                display: flex;
                align-items: center;

                svg {
                    position: absolute;
                    color: $clr5;
                    left: rem(13px);
                    top: 50%;
                    transform: translateY(-50%);
                    height: rem(22px);
                    pointer-events: none;
                }

                .header-filter {
                    width: rem(474px);
                    height: 3rem;
                    border-radius: 999px;
                    background-color: darken($color: $gray4, $amount: 5%);
                    border: 2px solid transparent;
                    padding-top: rem(3px);
                    padding-left: rem(47px);
                    padding-right: 1rem;
                    color: $clr6;
                    font-size: 1rem;
                    transition: background-color 0.2s ease, border-color 0.2s ease;

                    &::placeholder {
                        color: $clr5;
                    }

                    &:hover {
                        background-color: lighten($gray4, 3%); // hover effect
                    }

                    &:focus {
                        background-color: lighten($gray4, 5%);
                        border-color: $clr6;
                        outline: none;
                    }
                }
            }

            .home-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                background-color: darken($color: $gray4, $amount: 5%);
                text-decoration: none;

                &:hover {
                    background-color: lighten($gray4, 5%);
                    scale: 1.01;
                }

                .home-btn-icon {
                    color: $clr6;
                    font-size: 1.5rem;

                    svg {
                        width: rem(24px);
                        height: rem(24px);
                        display: block;
                        color: $clr6;
                    }

                }
            }
        }

        .auth-buttons {
            display: flex;
            align-items: center;
            margin-inline-start: auto;

            .signup-btn {
                background: none;
                border: none;
                color: $clr5;
                font-weight: 600;
                font-size: rem(14px);
                transition: background-color, 0.1s ease;
                padding-right: rem(14px);


                cursor: pointer;

                &:hover {
                    color: $clr6;
                    transform: scale(1.03);
                }
            }

            .login-btn {
                background-color: $clr6;
                color: $clr8;
                border: none;
                height: rem(48px);
                width: rem(110px);
                border-radius: 999px;
                font-weight: 700;
                cursor: pointer;
                font-size: 1rem;
                transition: background-color, 0.1s ease;

                &:hover {
                    background-color: #f1f1f1;
                    backface-visibility: hidden;
                    transform: scale(1.03);
                }
            }
        }

        .user-info {
            position: relative;
            display: flex;
            align-items: center;
            color: $clr1;
            margin-left: 132px;

            img {
                width: rem(32px);
                aspect-ratio: 1;
                border-radius: 50%;
            }

            .btn-link {
                color: $clr2;
            }

            
            .user-info-btn {
                height: 48px;
                width: 48px;
                border-radius: 50%;
                background-color: #1F1F1F;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                
                &:hover {
                    transform: scale(1.05);
                }
                
                .user-info-btn-info {
                    background-color: #B49BC8;
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.875rem;
                    font-weight: bold;



                }
            }
        }
    }

    
    .logout-btn {
        background-color: transparent;
        color: $clr6;
        padding: 12px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-weight: bold;

        &:hover {
            background-color: #ffffff1a;
            
        }
    }
}