.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-station-modal {
  background-color: #2c2c2c;
  border-radius: 8px;
  width: 524px;
  height: 384px;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  position: relative;
  padding: rem(24px);
  display: flex;
  justify-content: space-between;


  .modal-close-btn {
    position: absolute;
    top: 21px;
    left: 476px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 32px;
    width: 32px;
    cursor: default;
    border-radius: 50%;

    &:hover {
      background-color: #535353;
    }
    svg {
      height: 1rem;
      width: 1rem;
      fill: #B3B3B3;
    }
  }

}

.modal-body {
  padding: rem(0px) rem(24px) rem(24px) rem(24px);

  .middle-modal {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-top: 8px;

    .img-container {
      position: relative;
      height: 180px;
      width: 180px;
      flex-shrink: 0;

      &:hover .edit-pic-container{
        opacity: 1;
      }

      &:hover img{
        opacity: 0.5;;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }

      .edit-pic-container {
        user-select: none;
        display: flex;
        gap: 7px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 59px;
        left: 38px;
        flex-direction: column;
        opacity: 0;

        svg {
          height: 48px;
          width: 48px;
          fill: white;
          
        }

        span {
          font-size: 1rem;
          font-weight: 600;
          pointer-events: none;
        }
      }
    }

    .modal-inputs-container {
      width: 280px;
      display: flex;
      gap: 16px;
      flex-direction: column;

      .title-input-wrapper {
        position: relative;

        input.title-input {
          height: 40px;
          width: 100%;
          border-radius: 4px;
          border: none;
          padding: 0 12px;
          background: #3a3a3a;
          margin: 0px;
          color: white;
          font-size: 14px;

          &:focus {
            outline: none;
            border: 1px solid #535353;
            ;
            background-color: #333;
          }
        }

        .title-input-span {
          position: absolute;
          font-size: 12px;
          top: -7px;
          left: 9px;
          z-index: 100;
          color: #B3B3B3;
          transition: opacity 0.2s ease;
          opacity: 0;
          font-weight: 700;
        }

        .title-input:focus+.title-input-span,
        .title-input:not(:placeholder-shown)+.title-input-span {
          opacity: 1;
        }
      }

      .description-input-wrapper {
        position: relative;

        textarea.description-input {

          height: 124px;
          width: 100%;
          resize: none;
          font-family: inherit;
          border-radius: 4px;
          border: none;
          padding: 8px 8px 28px;
          background: #3a3a3a;
          color: white;
          margin: 0px;
          font-size: 14px;

          &:focus {
            outline: none;
            border: 1px solid #535353;
            ;
            background-color: #333;
          }
        }

        .description-input-span {
          position: absolute;
          font-size: 12px;
          top: -7px;
          left: 9px;
          z-index: 100;
          color: #B3B3B3;
          transition: opacity 0.2s ease;
          opacity: 0;
          font-weight: 700;
        }

        .description-input:focus+.description-input-span,
        .description-input:not(:placeholder-shown)+.description-input-span {
          opacity: 1;
        }
      }
    }
  }

  .modal-save-btn-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;

    .modal-save-btn {
      display: flex;
      align-items: center;
      padding: 8px 32px;
      width: 100px;
      height: 48px;
      font-size: 1rem;
      background-color: white;
      color: black;
      font-weight: 700;
      border-radius: 999px;
      cursor: pointer;

      &:hover {
        scale: 1.04;
        background-color: darken($color: white, $amount: 7%);
      }

    }
  }

  .spotify-terms-warning-container {
    padding-top: 5px;

    p.spotify-terms-warning {
      font-size: 0.72rem !important;
      color: white;
      font-weight: 700;
      margin: 0;
      line-height: 17px;
    }
  }

}



.edit-station-modal h2 {
  margin-top: 0;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}