.media-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: #181818;
    color: white;
    padding: 0 20px;
    align-content: center;

    .track-info {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 50px;
            border-radius: 4px;
        }
    }

    .track-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .track-controls-middle {
            display: flex;
            flex-direction: column;

            .Track-nav-container {
                display: flex;
                justify-content: center;

                button {
                    display: flex;
                    width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    align-items: center;
                    justify-content: center;
                }
            }

            .track-seek-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .seek-bar {
                    width: 100%;
                    margin: 0 10px;
                    accent-color: white;
                    height: 4px;
                    border-radius: 2px;
                    cursor: pointer;
                }

                .seek-bar:hover {
                    accent-color: #1db954;
                    cursor: pointer;
                }

                .seek-bar::-webkit-slider-thumb {
                    opacity: 0;
                }

                .seek-bar:hover::-webkit-slider-thumb {
                    opacity: 1;
                }
        

            }

        }
    }

    .track-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .volume-slider {
            accent-color: white;
            width: 100px;
            outline: none;
            cursor: pointer;
        }

        .volume-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background: white;
            opacity: 0;

        }

        .volume-slider:hover::-webkit-slider-thumb {
            opacity: 1;
        }

        .volume-slider:hover {
            accent-color: #1db954;
            
        }
    }
}

.react-youtube {
    height: 0;
    width: 0;
}