.media-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: #181818;
    color: white;
    padding: 0 20px;
    align-content: center;

    .track-info {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 50px;
            border-radius: 4px;
        }
    }

    .track-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .track-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      
        .volume-slider {
          width: 100px;
          accent-color: #1db954; 
          cursor: pointer;
        }
      }
}
.react-youtube{
    height: 0;
    width: 0;
}