.media-player {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(72px);
    display: grid;
    grid-template-columns: minmax(230px, 1fr) minmax(230px, 720px) minmax(230px, 1fr);
    align-items: center;
    background-color: $clr3;
    color: $clr5;
    padding: 0 10px;
    align-content: center;

    .track-info {
        display: flex;
        align-items: center;
        gap: 14px;

        div {
            font-size: em(14px);
            margin-block-end: 16px;
            color: $clr6 ;
        }

        img {
            height: 56px;
            width: 56px;
            border-radius: 4px;
            margin-block-end: 1px;

        }
    }

    .track-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .track-nav-container {
            display: flex;
            justify-content: center;
            width: fit-content;
            margin-inline-end: 16px;

            button {
                display: flex;
                height: 35px;
                width: 35px;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                margin: 16px 6px 2px 6px;
                padding: 0;
                
            }

            button:hover span {
                color: $clr6;
                transform: scale(1.1);
            }
        }

            .track-seek-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 14px;
                margin-inline-end: 15px;

                .track-time {
                    font-size: em(12px);
                }

                .seek-bar {
                    width: 87%;
                    margin: 0 10px;
                    accent-color: white;
                    height: 4px;
                    border-radius: 2px;
                    cursor: pointer;
                }

                .seek-bar:hover {
                    accent-color: $clr7;
                    cursor: pointer;
                }

                .seek-bar::-webkit-slider-thumb {
                    opacity: 0;
                }

                .seek-bar:hover::-webkit-slider-thumb {
                    opacity: 1;
                }
            }


        }

        .track-options {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2px;

            button {
                background-color: transparent;
                height: fit-content;
                width: fit-content;
                padding: 0;
                padding-top: 3px;
            }

            .volume-slider {
                accent-color: white;
                width: 95px;
                outline: none;
                cursor: pointer;
                margin-inline-end: 75px;
            }

            .volume-slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background: white;
                opacity: 0;

            }

            .volume-slider:hover::-webkit-slider-thumb {
                opacity: 1;
            }

            .volume-slider:hover {
                accent-color: $clr7;

            }
        }


        .react-youtube {
            height: 0;
            width: 0;
        }

    }