.sidebar {
    background-color: $clr3;
    color: $clr6;

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(12px) rem(16px) rem(8px) rem(16px);

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: 700;
            height: fit-content;
        }

        .sidebar-create-btn {
            width: rem(100px);
            height: rem(36px);
            border-radius: 999px;
            background-color: $gray5;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(8px);
            font-weight: 700;
            transition: background-color 0.1s ease;
            color: $clr6;

            &:hover {
                background-color: lighten($gray5, 5%);
                cursor: pointer;
            }
        }

        svg {
            width: 1rem;
            height: 1rem;
            color: $clr5;
        }
    }

    .sidebar-sort-btns {
        display: flex;
        gap: rem(9px);
        padding: rem(7px) rem(16px) rem(8px) rem(16px);

        .sidebar-sort-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: rem(4px) rem(12px);
            font-size: rem(14px);
            line-height: rem(14px);
            background-color: $gray6;
            border-radius: 999px;
            color: $clr6;
            transition: background-color 0.1s ease;

            &:hover {
                background-color: lighten($gray6, 5%);
                cursor: pointer;
            }

        }

        .sidebar-playlist-btn {
            width: rem(75px);
            height: rem(32px);
        }

        .sidebar-artists-btn {
            width: rem(65px);
            height: rem(32px);
        }

    }


    .sidebar-filter {
        padding: rem(2px) rem(16px) 0 rem(16px);

        .sidebar-filter-btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            border-radius: 50%;
            width: rem(32px);
            height: rem(32px);
            color: $clr5;
            background-color: transparent;

            &:hover {
                background-color: lighten($gray6, 5%);
                cursor: pointer;
            }

            svg {
                height: 1rem;
            }
        }

        .sidebar-clear-btn {
            color: transparent;
            background-color: transparent;
            top: 175px;
            left: 180px;
            position: absolute;
            cursor: default;

            .sidebar-clear-btn-svg {
                height: 1rem;
                width: 1rem;
                fill: #B3B3B3;
                
                // top: 162px;
                // left: 180px;
            }
        }


        .sidebar-search-input {
            height: rem(34px);
            width: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            top: rem(168px);
            left: rem(16px);
            margin-left: rem(8px);
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            border-radius: rem(5px);
            color: $clr6;
            font-size: 0.875rem;
            outline: none;
            transition: opacity 0.33s ease, width 0.33s ease, padding 0.33s ease;
            overflow: hidden;

            &::placeholder {
                color: $clr5;
            }

            &.open {
                width: rem(188px);
                opacity: 1;
                padding: rem(6px) rem(12px);
                padding-left: rem(31px);

            }
        }
    }

    .sidebar-followed-content {
        padding: rem(5px) rem(8px) rem(8px) rem(8px);
        display: flex;
        flex-direction: column;

        .sidebar-content-preview {
            padding: rem(8px);
            display: flex;
            gap: rem(10px);
            border-radius: rem(5px);
            position: relative;

            svg {
                opacity: 0;
                height: 25px;
                width: 25px;
                position: absolute;
                top: 20px;
                left: 20px;
                color: #e9e8e8;
            }

            &:hover {
                background-color: lighten($gray5, 1%);
                cursor: pointer;
            }

            &:hover svg {
                opacity: 1;
            }

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 9px;
                width: rem(48px);
                height: rem(48px);
                border-radius: rem(3px);
                background-color: rgba(0, 0, 0, 0);
                // transition: background-color 0.2s ease;
                pointer-events: none; // Ensures it doesn't block hover/click
            }

            &:hover::after {
                background-color: rgba(0, 0, 0, 0.25);
            }

            img {
                width: rem(48px);
                height: rem(48px);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: rem(3px);
            }

            .sidebar-content-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                .sidebar-content-info-title {}

                .sidebar-content-info-description {
                    color: $clr5;
                    font-size: rem(13px);
                }

            }
        }
    }


}