.station-preview {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
    color: white;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        // background-color: #2a2a2a;
        border-radius: 8px;
    }






    .station-img-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 8px;
        background-color: #2a2a2a;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        svg {
            position: absolute;
            display: flex;
            right: rem(4px);
            bottom: rem(6px);
            background-color: transparent;
            color: #1db954;
            border: none;
            border-radius: 50%;
            width: rem(56px);
            height: rem(56px);
            align-items: center;
            justify-content: center;
            font-size: 1.1em;
            opacity: 0;
            transform: translateY(20%);
            transition: opacity 0.3s ease, transform 0.3s ease;
            cursor: pointer;

            &:hover {
                scale: 1.05;
            }
        }


    }

    .station-info {
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        gap: rem(0px);

        .station-preview-title {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }

        .station-preview-artist {
            font-size: 0.875em;
            color: #b3b3b3;
        }

        &:hover h3 {
            color: #1db954;
        }
    }
}