.station-list {
    padding: 0px rem(28px);
    display: flex;
    flex-direction: column;

    .station-list-title {
        color: $clr6;
        padding: rem(20px) 0 rem(8px) rem(12px);

    }

    .station-list-stations {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(190px), rem(197px)));
        position: relative;
        
        .station-card {
            background-color: transparent;
            border-radius: 8px;
            color: $clr6;
            text-align: center;
            padding: rem(12px);

            &:hover {
                background-color: $gray5;
                cursor: pointer;
            }

            &:hover svg {
                // display: flex;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}