.station-list {
    padding: 0px rem(28px);

    .station-list-stations {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(190px), rem(197px)));
        position: relative;

        .station-card {
            background-color: transparent;
            border-radius: 8px;
            color: white;
            text-align: center;
            padding: rem(12px);

            &:hover {
                background-color: #1f1f1f;
                cursor: pointer;
            }

            &:hover svg {
                // display: flex;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}