.station-index {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(rem(297px), rem(420px)) 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar main-page"
        "media-player media-player";
    gap: 8px;
    padding: 8px;

    &.collapsed {
        grid-template-columns: rem(72px) 1fr;
    }


}

header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main-page {
    grid-area: main-page;
    overflow-y: auto;
}

.media-player {
    grid-area: media-player;
}

header,
.sidebar,
.main-page {
    border-radius: rem(8px);
    overflow: hidden;
}

@include for-mobile-layout {
    .station-index {
        grid-template-columns: 360px;
        grid-template-rows: auto auto;
        ;
        grid-template-areas:
            "main-page"
            "media-player"
        ;





        // .media-player {
        //     display: none;
        // }
    }

    header {
        display: none !important;
    }

    .sidebar {
        display: none !important;
    }


}




// @include for-narrow-layout {
//     grid-template-columns: 
//         minmax(20px, 1fr)
//         minmax(auto, $mobile-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-normal-layout {
//     grid-template-columns: 
//         minmax(20px, 1fr)
//         minmax(auto, $narrow-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-wide-layout {
//     grid-template-columns: 
//         minmax(20px, 1fr)
//         minmax(auto, $normal-breakpoint)
//         minmax(20px, 1fr);
// }