// Spotify-Inspired Colors
$clr1: #1db954;  // Spotify Green
$clr2: #191414;  // Background Black
$clr3: #121212;  // Darker UI background
$clr4: #535353;  // Medium Gray text
$clr5: #b3b3b3;  // Light Gray text
$clr6: #fff;     // White text/icons
$clr7: #1ed760;  // Lighter Green (hover effect)
$clr8: black;
$clr9 :#30ac5b;
$clr10:#13542a;
$clr11: rgb(216, 59, 59);



// Grays
$gray1: #e0e0e0;
$gray2: #a7a7a7;
$gray3: #666;
$gray4: #2c2c2c;
$gray5: #1F1F1F;
$gray6: #2c2c2c;
$gray7: #2a2a2a;
$gray8: #e1e1e1;
$gray9: #b3b3b3;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;